.timer {
  display: flex;
  flex-direction: column;
}

#left-timer {
  flex: 1.45;
}

#right-timer {
  flex: 1.3;
  align-items: flex-end;
}

.timer figure {
  position: relative;

  width: 30%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.timer img {
  width: 100%;
  height: 100%;
}

.timer figcaption {
  position: absolute;
  top: 30%;

  color: white;

  z-index: 2;
}

#left-timer figcaption {
  left: 55%;
}

#right-timer figcaption {
  right: 55%;
}
